*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav */
.nav{
    margin-top: 20px;
    background-color: pink;
    padding: 20px 30px;
    border-radius: 5px 5px 0px 0px;
}

label, input{
    display: block;
    margin: 20px auto;
}

.boder{
    border: 1px solid pink;
    padding: 20px 111px;
    border-radius: 0px 0px 5px 5px;
}
